dialogflow==0.4.0
opencc_python_reimplemented==0.1.4
Flask==1.0.2
requests==2.21.0
selenium==3.12.0
requests_html==0.9.0
pandas_datareader==0.7.0
pandas==0.23.4
firebase_admin==2.16.0
plotly==3.5.0
numpy==1.15.4
ipython==7.4.0
opencc==0.2
scikit_learn==0.20.3
